:root {
  ---color-background: #201e1c;
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(---color-background);
  color: var(--text-color);
  font-family: "Reddit Mono", monospace;
}
