:root {
  --color-background: #070707;
  --header-color: #000;
  --text-color: white;
  --second-text-color: rgb(135, 134, 134);

  --line-color: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

html,
body {
  background-color: var(--color-background);
  color: var(--text-color);
}

/* general */
a {
  text-decoration: none;
  color: var(--text-color);
}

/* header */
header {
  width: 100%;
  height: 140px;
  display: flex;
}
.header-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-color);
}

.header-section-two {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 2rem;
}

.img-logo {
  width: 14rem;
  height: 100%;
  margin-left: 2rem;
}

/* main */

main {
  margin: 6rem;
  margin-top: 0;
}

/* about me */

.about-me {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 40vh;
  margin-top: 4rem;
  border-bottom: 2px solid #2e2e2e;
}

.about-me img {
  width: 200px;
  border-radius: 100%;
  display: flex;
}

.presentation {
  padding-left: 4rem;
}

.presentation h2 {
  font-size: 2rem;
}

/* projects */

.title-projects {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.project-miniatures {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* cards */

.project-miniatures div,
.project-miniatures div a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-miniatures div {
  background-color: #0c0c0c;
  border-radius: 6px;
  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.4);
}

.project-miniatures div p:first-of-type {
  margin-top: 1rem;
}

.project-miniatures div p:nth-of-type(2) {
  margin-bottom: 1rem;
}

.project-miniatures div a img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px 6px 0 0;
}

/* footer */

footer {
  grid-area: l-f;
  text-align: center;
  height: 40px;
  font-weight: 700;
  padding-top: 10px;
  margin: 30px 0 20px 0;
  padding-top: 2rem;
  border-top: 2px solid #2e2e2e;
}

footer p {
  font-size: 18px;
}

/* info */

.about-film {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  min-height: 20vh;
  margin-top: 4rem;
  border-bottom: 2px solid #2e2e2e;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-info div a img {
  margin-bottom: 4rem;
  width: 100%;
}

.section-img-layout {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.presentation h1 {
  font-size: 2rem;
  font-weight: 600;
}

.presentation p {
  font-size: 1.2rem;
  color: var(--second-text-color);
}
